<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="assets/loginoption.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-logo">Kospedia.</a>
    </nav>

    <div class="wrapper">
      <form action="/">
        <h1>Masuk Sebagai?</h1>
        <!-- <button type="button" class="btn">Pencari Kos</button> -->
        <a href="login" class="btn">Pencari Kos</a>
        <!-- <button type="button" class="btn">Pemilik Kos</button> -->
        <a href="loginowner" class="btn">Pemilik Kos</a>
      </form>
    </div>
  </body>
</html>
