<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read Pemesanan</title>
    <link rel="stylesheet" href="assets/readcss.css" />
  </head>
  <body>
    <h1>Data Pemesanan</h1>

    <table border="1">
      <thead>
        <tr>
          <th>ID Pemesanan</th>
          <th>User</th>
          <th>Nama Kos</th>
          <th>Tanggal Mulai</th>
          <th>Tanggal Selesai</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop untuk setiap pemesanan -->
        <tr th:each="pemesanan : ${pemesananList}">
          <td th:text="${pemesanan.idpemesanan}"></td>
          <td
            th:text="${pemesanan.user != null ? pemesanan.user.username : ''}"
          ></td>
          <td th:text="${pemesanan.namakos}"></td>
          <td th:text="${pemesanan.tanggalmulai}"></td>
          <td th:text="${pemesanan.tanggalselesai}"></td>
          <td>
            <a th:href="@{/pemesanan/edit/{id}(id=${pemesanan.idpemesanan})}"
              >Edit</a
            >
            <a th:href="@{/pemesanan/delete/{id}(id=${pemesanan.idpemesanan})}"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/home">Back to Home</a>
  </body>
</html>
